<h1>Edit Product</h1>
<br /><br />

<%= form_tag "/products/#{@product.id}", method: :patch do %>
	Product name: <input type="text" name="name" value="<%= @product.name %>">
	Price: <input type="text" name="price" value="<%= @product.price %>">
	Image: <input type="text" name="image" value="<%= @product.image %>">
	Description: <input type="text" name="description" value="<%= @product.description %>">
	In-stock: <input type="text" name="in_stock" value="<%= @product.in_stock %>">
	Supplier ID: <input type="decimal" name="supplier_id" value="<%= @product.supplier_id %>">
	<input type="submit" value="Update">
<% end %>

<br /><br />