<h1>Edit Product</h1>
<br /><br />

<div class="row">
	<div class="col-sm-3 col-centered text-center well">
		<div class="user-input-box">

			<%= form_tag "/products/#{@product.id}", method: :patch do %>
				<div>
					Name: <input type="text" name="name" value="<%= @product.name %>">
				</div>

				<div>
					Price: <input type="decimal" name="price" value="<%= @product.price %>">
				</div>

				<div>
					Details: <input type="text" name="description" value="<%= @product.description %>">
				</div>

				<div>
					Stock: <input type="integer" name="stock" value="<%= @product.stock %>">
				</div>

				<div>
					Supplier:
					<%=
						collection_select(
							:product, 		# this is what object the params get applied to by this form.
							:supplier_id, # this is takes the input to for this product object.
							Supplier.all, # this is the group of objects we're displaying from, into the dropdown.
							:id, 					# this is what we are taking from each Supplier.
							:name, 				# this is what we are displaying in the dropdown to represent each Supplier.
							prompt: "Select a Supplier"
						) 

					%>
				</div>

				<br />

				<div class="text-center">
					<input type="submit" value="Update">
				</div>

			<% end %>

		</div>
	</div>
</div>


<br /><br />

	