<h1>Products</h1>

<% @products.each_slice(3) do |three_products| %>
	<div class="row">
		<% three_products.each do |product| %>
			<div class="col-md-4 index-box">
				<div class="well">
					<a href="/products/<%= product.id %>">
						<h2><%= product.name %></h2>
						<div>
							<img src="<%= product.image %>" id="box-image">
						</div>
					</a>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<br />

<%= form_tag "/products/new", method: :get do %>
	<input type="submit" value="Add a new product">
<% end %>

<%= form_tag "/search", method: :post do %>
	<input type="text" name="search_term">
	<input type="submit" value="Search for a product">
<% end %>

<br />
<br />