<h1>Products</h1>
<br />

<% @products.each_slice(4) do |four_products| %>
	<div class="row">
		<% four_products.each do |product| %>
			<div class="col-md-3 index-box">
				<div class="well uniform">
					<a href="/products/<%= product.id %>">
						<h2><%= product.name %></h2>
					</a>
						<div id="box-image">
							<% if product.images.first %>
								<img src="<%= product.images.first.src %>" id="box-image">
							<% else %>
								<%= link_to "Add an image for this product", "/products/#{product.id}/images/new", method: :get %>
							<% end %>
						</div>
						<div>
							<h3><a href="/products/<%= product.id%>">$ <%="#{ product.price }"%></a></h3>
						</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<br />



<br />
<br />