<% if @product.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@product.errors.count, "error") %>
		prevented the product from being saved</h2>

		<ul>
			<% @product.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<h1>Make a new product:</h1>
<br /><br />

<div class="row">
	<div class="col-lg-3 col-centered text-center well">
		<div class="user-input-box">

			<%= form_tag "/products", method: :post do %>
				<div>
					Name: <input type="text" name="name" value="<%= @product.name %>">
				</div>

				<div>
					Price: <input type="text" name="price" value="<%= @product.price %>">
				</div>

				<div>
					Image: <input type="text" name="src" value="<%= @product_image.src %>">
				</div>

				<div>
					Description: <input type="text" name="description" value="<%= @product.description %>">
				</div>

				<div>
					Stock: <input type="text" name="stock" value="<%= @product.stock %>">
				</div>

				<!-- <div>
					Supplier ID: <input type="decimal" name="supplier_id">
				</div> -->

				<div>
					Supplier:
					<%=
						collection_select(
							:product, 		# this is what the params get applied to by this form.
							:supplier_id, # this is what we send the input to for this product.
							Supplier.all, # this is the group of objects we're displaying from into the dropdown.
							:id, 					# this is what we are taking from each Supplier.
							:name, 				# this is what we are displaying to represent each Supplier.
							prompt: "Select a Supplier"
						) 

					%>
				</div>


				<input type="submit" value="Create">
			<% end %>

		</div>
	</div>
</div>

<br /><br />

<div class="text-center">
	<%= form_tag "/products", method: :get do %>
		<input type="submit" value="Back to index">
	<% end %>
</div>

<br /><br />

