<h1><%= @product.name %></h1>

<br />

<center>

<div class="text-center">
	<div>
		<% @product.images.each do |image| %>
			<img src="<%= image.src %>" id="show-image">
		<% end %>
	</div>
</div>



<br />
<br />

<h3><%= @product.sale_message %></h3>

<br />
<br />



<div class="text-center">
	<div class=<%= @product.discount_style %>>
		<b>Price:</b> $<%= @product.price %>
		<br />
		<br />
		<b>Tax:</b> $<%= @product.tax %>
		<br />
		<br />
		<b>Total:</b> $<%= @product.total %>
	</div>
</div>

<br />
<br />

<%= @product.inspect %>

<br />
<br />
<br />

<b>Supplier:</b> <a href="/suppliers/<%= @product.supplier.id %>" ><%= @product.supplier.name %></a>

<br />
<br />
<br />

<div class="text-center">
	<%= form_tag "/products/#{@product.id}", method: :delete do %>
		<input type="submit" value="Delete this product">
	<% end %>

	<br />

	<%= form_tag "/products/#{@product.id}/edit", method: :get do %>
		<input type="submit" value="Edit this product">
	<% end %>

	<br />

	<%= form_tag "/products", method: :get do %>
		<input type="submit" value="Return to index">
	<% end %>

	<br />
	<br />

	<%= form_tag "/products/#{@product.id}/images/new", method: :get do %>
		<input type="submit" value="Add an image for this product">
	<% end %>
</div>

<br />
<br />

</center>