<% if @carted_product && @carted_product.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@carted_product.errors.count, "error") %>
		prevented the product from being added to your cart</h2>

		<ul>
			<% @carted_product.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>

	</div>
<% end %>

<h1><%= @product.name %></h1>
<br />

<center>

<h3>This product is in:</h3><br />

<% @categories.each do |category| %>
	<% category.categorized_products.each do |categorized_product| %>
		<% if categorized_product.product_id == @product.id %>
			<h3><%= category.name %></h3>
			<br />
		<% end %>
	<% end %>
<% end %>

<div class="text-center">
	<div>
		<% @product.images.each do |image| %>
			<img src="<%= image.src %>" id="show-image">
		<% end %>
	</div>
</div>



<br />
<br />

<h3><%= @product.sale_message %></h3>
<h3><%= @product.in_stock? %></h3>

<br />
<br />



<div class="text-center">
	<div class=<%= @product.discount_style %>>
		<b>Price:</b> <%= number_to_currency(@product.price) %>
		<br />
		<br />
		<b>Tax:</b> <%= number_to_currency(@product.tax) %>
		<br />
		<br />
		<b>Total:</b> <%= number_to_currency(@product.total) %>
	</div>
</div>

<br />
<br />

<%= @product.inspect %>

<br />
<br />
<br />

<% if @product.supplier%>
<b>Supplier:</b> <a href="/suppliers/<%= @product.supplier.id %>" ><%= @product.supplier.name %></a>
<% end %>

<br />
<br />
<br />

<div class="text-center">
	<% if current_user && current_user.admin %>
		<%= form_tag "/products/#{@product.id}", method: :delete do %>
			<input type="submit" value="Delete this product">
		<% end %>

		<br />

		<%= form_tag "/products/#{@product.id}/edit", method: :get do %>
			<input type="submit" value="Edit this product">
		<% end %>

		<br />

		<%= form_tag "/products/#{@product.id}/images/new", method: :get do %>
			<input type="submit" value="Add an image for this product">
		<% end %>
	<% end %>

	<br />
	<br />

	<%= form_tag "/products", method: :get do %>
		<input type="submit" value="Return to index">
	<% end %>
</div>

<br />
<br />

<%=  form_tag "/cart", method: :post do %>
	<input type="integer" name="quantity">
  <input type="hidden" name="product_id" value="<%=@product.id%>">
	<input type="submit" value="Add to cart!">
<% end %>

<br /><br />

</center>