<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>




  <body>
	  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		      <a class="navbar-brand" href="/products" >Products</a>
		      <a class="navbar-brand" href="/suppliers">Suppliers</a>
		      <a class="navbar-brand" href="/checkout">Checkout</a>
	        <!-- <a class="navbar-brand btn-lg btn-default" href="/suppliers/new" role="button">Add</a> -->
			      
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">

	        <!-- <li><a href="#">Link</a></li> This is just an example link for reference -->

	        <!-- Currently, the dropdown menu disappears upon search. How to fix the code below?
	         || current_page?("/search") 
	         -->

	      	<% if current_page?("/") || current_page?("/products") || current_page?("/products/new") || current_page?("/search") %>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
		          <ul class="dropdown-menu">
								<%= form_tag "/search", method: :post do %>
									<div class="form-group">
					          <input type="text" class="form-control text-center" placeholder="Search Products" name="search_term">
					        </div>

					        <div class="text-center">
						        <button type="submit" class="btn btn-default">Submit</button>
					        </div>
				        <% end %>
		            <li role="separator" class="divider"></li>
		            <li><a href="/products?sort=price&order=asc">Sort by price (Ascending)</a></li>
					      <li><a href="/products?sort=price&order=desc">Sort by price (Descending)</a></li>
					      <li><a href="/products?sort=stock&order=desc">Sort by quantity</a></li>
					      <li><a href="/products?showing=discount">Discount items</a></li>
		            <li role="separator" class="divider"></li>
		            	<% categories.each do |category| %>
		            		<li><a href="/products?category=<%= category.id %>"><%= category.name %></a></li>
		            	<% end %>

		            <% if current_user && current_user.admin %>
			            <li role="separator" class="divider"></li>
		              <li><a href="/products/new">Add new product</a></li>
	              <% end %>

		            <li role="separator" class="divider"></li>
					      <li><a href="/products/random">Random product</a></li>


		            <!-- <li role="separator" class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		            A sample separated dropdown link -->

		          </ul>
		        </li>
	        <% elsif current_page?("/suppliers") || current_page?("/suppliers/new") %>
						<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <%= form_tag "/supplier_search", method: :post do %>
				          <li>
										<div class="form-group">
						          <input type="text" class="form-control text-center" placeholder="Search Suppliers" name="search_term">
						        </div>
					        </li>

					        <div class="text-center">
						        <button type="submit" class="btn btn-default">Submit</button>
					        </div>
				        <% end %>

		            <li role="separator" class="divider"></li>
		            <li><a href="/suppliers?sort=number_of_products&order=desc">Sort by # of Products</a></li>
		            <li><a href="/suppliers?sort=name&order=asc">Sort by Name</a></li>
		            <li><a href="/suppliers?sort=id&order=asc">Sort by ID</a></li>

		            <% if current_user && current_user.admin %>
			            <li role="separator" class="divider"></li>
			            <li><a href="/suppliers/new">Add new supplier</a></li> 
		            <% end %>

		          </ul>
		        </li>
	        <% end %>
	      </ul>

	      <form class="navbar-form navbar-left">
	      </form>


	      <ul class="nav navbar-nav navbar-right">
	      	<% if current_user %>
			      <a class="navbar-brand" href="/logout">Logout</a>
		      <% else %>
			      <a class="navbar-brand" href="/signup">Signup</a>
			      <a class="navbar-brand" href="/login">Login</a>
	      	<% end %>
	      </ul>


	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


	

<!--############################################################################################################-->




	
		      
		      <!-- <ul class="nav navbar-nav navbar-right">

		      </ul> -->
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

	<div class="row">
		<div class="col-sm-3 col-centered">
			<div>
	      <% flash.each do |name, message| %>
	        <div class="alert alert-<%= name %> alert-dismissable" role="alert">
	          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h3><%= message %></h3>
	        </div>
	      <% end %>
	    </div>
	  </div>
  </div>


  	<div class="container">
	    <%= yield %>
    </div>

  </body>
</html>
